.bg-img{
    background: linear-gradient(to right, rgb(152, 188, 255), rgb(233, 252, 255), white);
    background-position: 0 -25rem;
    background-size: cover;
    background-attachment: fixed;
    height: 912px;
    /* border: 1px solid transparent; */
    width: 100%;
}


.sec-container{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    height: 700px;

}


.sec-left-container{
    /* border: 1px solid red; */
    text-align: center;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 4rem; */
    /* height: 600px; */
    
}

.sec-left-container h4{
    font-size: 100px;
    color: rgb(255, 156, 156);
    /* border: 1px solid red; */
    margin: 10px 0;
}

.sec-left-container p{
    font-size: 70px;
    /* border: 1px solid red; */
    margin: 5px;
    color: rgba(51, 51, 51, 0.925);
}

.sec-left-container h4, .sec-left-container p{
    text-shadow: 3px 3px 3px rgb(105, 105, 105);
}

.sec-left-container a{
    text-decoration: none;
    background-color: rgba(255, 111, 67, 0.801);
    color: white;
    padding: 10px ;
    margin: 2rem;
    border-radius: 3px;
    width: 50%;
    font-size: 20px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px gray;
    /* border: 1px solid red; */
}

.sec-left-container a:hover{
    text-decoration: none;
    background-color: rgb(235, 96, 72);
    color: white;
    padding: 10px ;
    margin: 2rem;
    border-radius: 3px;
    width: 50%;
    font-size: 20px;
    transition: 0.5s;
    /* border: 1px solid red; */
}

.sec-left-container input[type=search] {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.753);
    /* border: 1px solid red; */
}

.sec-right-container {
    margin-top: 5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
 .item{
    transition: 0.5s ease; /* Transition สำหรับเปลี่ยนสี */
    border-radius: 2rem;
 }


.box-color {
    width: 600px; /* ปรับขนาดให้เล็กลง */
    height: 500px; /* ปรับขนาดให้เล็กลง */
    position: relative;
    border-radius: 2rem;
    /* overflow: hidden; */
    /* background-color: rgba(179, 215, 255, 0.8); */
    transition: 0.5s ease; /* Transition สำหรับเปลี่ยนสี */
}

.box-color:hover{
    box-shadow: 0 0 15px gray;
    filter: brightness(1.1);
}

.slideshow-image {
    width: 100%; /* ให้ภาพขยายเต็มความกว้าง */
    height: 100%; /* ให้ภาพขยายเต็มความสูง */
    /* object-fit: cover; ทำให้ภาพเต็มพื้นที่โดยไม่สูญเสียสัดส่วน */
    position: relative;
    right: -10rem;
    filter: drop-shadow(3px 3px 8px rgb(66, 66, 66));
}


.slideshow-content {
    position: absolute;
    width: 32%;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
    margin: 2rem;
}


.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.category h1{
    text-align: center;
    font-size: 60px;
    color: brown;
    padding: 1rem;
    border-bottom: 2px solid gray;
    width: 1300px;
    text-shadow: 3px 3px 3px gray;
}

.category-content{
    display: flex;
    flex-direction: row;
}

.category .content{
    /* border: 1px solid red; */
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.content a{
    margin-top: 2rem;
}

.content img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.content h2{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 1rem;
    font-size: 30px;
}

.content:hover{
    opacity: 0.8;
    transition: 0.5s;
    /* margin: 1rem; */
    filter: drop-shadow(0 0 15px black);
}

/* recommend */

.recommend{
    width: 1320px;
    /* border:  1px solid red; */
    margin: 0 auto;
}

.recommend h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
    color: brown;
    padding: 1rem 0;
    width: 1300px;
    border-bottom: 2px solid gray;
    text-shadow: 3px 3px 3px gray;
    margin-bottom: 3rem;
}
